<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <%= link_to "Home", root_path %>
        </li>
      </ul>
      <ul>
        <% if user_signed_in? %>
          <li>
            <strong>
              <%= current_user.email %>
            </strong>
          </li>
          <li>
            <%= link_to "Edit profile", edit_user_registration_path %>
          </li>
          <li>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
          </ul>
        <% else %>
          <li>
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign in", new_user_session_path %>
          </li>
        <% end %>
      </nav>
      <p class="notice" style="color: green"><%= notice %></p>
      <p class="alert" style="color: red"><%= alert %></p>
      <%= yield %>
    </body>
  </html>
